<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408425129985-odg8ivnrr06ta3ttlvce109jvkm62ppe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408425129985-odg8ivnrr06ta3ttlvce109jvkm62ppe</string>
	<key>API_KEY</key>
	<string>AIzaSyCf-YB19DcyxlpFKLjTy32IHmjjONBWVAY</string>
	<key>GCM_SENDER_ID</key>
	<string>408425129985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fluttapp-19dc2</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttapp-19dc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408425129985:ios:fb41350c2a361588487800</string>
</dict>
</plist>